* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.block {
    background-color: grey;
    min-height: 150px;
}

.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
}

.block-1 {
    background-color: grey;
    min-height: 70px;
}

@media (max-width: 540px) {

    .col-10 {
        order: 1;
    }

    .col-2 {
        order: 2;
    }
}